/* Friends.css */

body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  background-color: #393737;
}

button {
  cursor: pointer;
}

.header {
  display: flex;
  justify-content: space-around;
}

h2 {
  text-align: left;
  margin-left: 20px;
}

.borderTop {
  border: 1px solid #000;
  max-width: 80%; /* Use max-width instead of width */
  width: 600px; /* Set width to 100% */
  margin: 50px auto;
  text-align: center;
  background-color: #8179796b;
}

.addBtn {
  background-color: #000;
  color: #fff;
  width: 110px;
  height: 40px;
  border-radius: 15px;
  border: none;
}

input#add {
  background-color: #000;
}

.main {
  text-align: left;
}

ul {
  list-style: none;
  justify-content: space-evenly;
  margin-left: 70px;
}

li {
  margin-bottom: 30px;
}

p {
  display: flex;
  flex-direction: column;
}

.name {
  font-weight: bold;
}

.main p {
  font-size: 18px;
  color: #f8f8f8bf;
}

.main button {
  background-color: #b2656559;
  font-weight: bold;
  font-size: 15px;
}

.cat {
  display: flex;
  align-items: center;
}

.cat img {
  width: 25%;
  margin-right: 15px;
  border-radius: 50%;
  vertical-align: top;
}

.catTxt li {
  padding: 10px 0;
}

button#bottomBtn {
  border: none;
  outline: none;
  padding: 2% 5%;
  background-color: rgba(128, 128, 128, 0.473);
  margin: 0 2%;
}

.bottom {
  text-align: center;
}

label {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #000000;
  background-color: #a3a0a09c;
  border-radius: 30px;
  padding: 10px;
  font-size: 15px;
}

label input {
  margin-left: 5px;
}

.buttonsContainer button {
  margin-left: 20px;
  margin-right: 20px;
  background-color: rgba(144, 149, 168, 0.574);
  border: none;
  color: rgba(195, 191, 147, 0.977);
  font-weight: bold;
  font-size: 16px;
  border-radius: 30px;
  padding: 15px 30px;
}

.additionalModule {
  margin: 0 auto;
  background-color: #68685bc1;
}

.additionalModule label {
  width: 230px;
  margin: 10px auto;
  background: none;
  color: #000;
  font-weight: bold;
}

.additionalModule button {
  font-weight: bold;
  background-color: #966d6d;
  font-size: 13px;
  padding: 10px 150px;
  margin-top: 10px;
  margin-bottom: 30px;
}
